<h1>Hola, soy el componente de Bienvenida</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum perferendis quod ut labore obcaecati dolore fugiat culpa
  eligendi iusto odio animi ratione deleniti doloremque, distinctio asperiores voluptas omnis dolorum soluta?</p>


<table>
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Gabriela</td>
      <td>Miranda</td>
    </tr>
    <tr>
      <td>Juan Jose</td>
      <td>Morales</td>
    </tr>
  </tbody>
</table>

<hr>
