<div class="container">
  <div class="list">
    <h2>Pokémon</h2>
    <ul>
      @if(isLoading()){
        <ul><h5>Cargando Pokemons</h5></ul>
      } @else {
        @for (pokemon of pokemons(); track pokemon.name) {
        <li (click)="selectPokemon(pokemon.name)">
          {{ pokemon.name }}
        </li>
        }
      }
    </ul>

    <div class="pagination">
      <button (click)="prevPage()" [disabled]="page() === 0">Anterior</button>
      <span>Página: {{ page() + 1 }}</span>
      <button (click)="nextPage()">Siguiente</button>
    </div>
  </div>

  <div class="details">
    @if (isDetailLoading()) {
    <p>Cargando detalles...</p>
    } @else if (selectedPokemon()) {
    <div class="card">
      <h2>{{ selectedPokemon()?.name | titlecase }}</h2>
      <img [src]="getPokemonImage()" alt="sprite">
      <p><strong>ID:</strong> {{ selectedPokemon()?.id }}</p>
      <p><strong>Altura:</strong> {{ selectedPokemon()?.height }}</p>
      <p><strong>Peso:</strong> {{ selectedPokemon()?.weight }}</p>
      <p><strong>Tipos:</strong>
        @for (tipo of selectedPokemon()?.types ?? []; track $index) {
        <span class="type">{{ tipo.type.name }}</span>
        }
      </p>
    </div>
    }
  </div>
</div>
