<h1>{{ title }}</h1>
<hr>
<a [routerLink]="['']" routerLinkActive="router-link-active-class">Inicio</a>&nbsp;
<a [routerLink]="['/bienvenida']" routerLinkActive="router-link-active-class">Bienvenida</a>&nbsp;
<a [routerLink]="['/variables']" routerLinkActive="router-link-active-class">Variables</a>&nbsp;
<a [routerLink]="['/signals']" routerLinkActive="router-link-active-class">Signals</a>&nbsp;
<a [routerLink]="['/heroes']" routerLinkActive="router-link-active-class">Heroes</a>&nbsp;
<a [routerLink]="['/comunicaciones']" routerLinkActive="router-link-active-class">Comunicaciones</a>&nbsp;
<a [routerLink]="['/servicios']" routerLinkActive="router-link-active-class">Servicios</a>&nbsp;
<hr>
<router-outlet></router-outlet>
